@model ismaildenzzz.Admin.Models.SearchModel
@using ismaildenzzz.Admin.Controllers
@{
    ViewBag.Title = "Index";
    ViewBag.SeoKeys = ".Net Core,.Net Framework, Ado.Net,Algoritma,Design Patterns, Asp.Net,Asp.Net Core, Asp.Net Web API,C#,Web Services,Asmx,SOAP,REST,Data Structures,Veri Yapıları,Entity Framework,Dapper";
    ViewBag.SeoDesc = "İsmail Deniz - Bilgisayar Mühendisi.JavaScript,Angular JS ,React JS,Asp.NET,Asp.NET Core,Asp.NET MVC,Ado.NET,Dapper ve Entity Framework ile alakalı blog yazıları yazmayı seven bir yazılımcı.";
    Layout = "~/Views/Shared/_LayoutUI.cshtml";
}

<!-- Blog Entries Column -->
<div class="col-md-8">

    <h3 class="my-4">
        için arama sonuçları '@Model.SearchKey'
    </h3>


    @foreach (var item in Model.BlogList)
    {
        <!-- Blog Post -->
        <div class="card mb-4">
            @*<img class="card-img-top" src="@item.Resim" alt="@item.Baslik" height="250">*@
            <div class="card-body">
                <a href="/@item.SeoLink" style="color:black;"><h4 class="card-title">@item.Baslik</h4></a>
                <p class="card-text">@item.KisaAciklama</p>
                <a href="http://ismaildenzzz.com/post/@item.SeoLink">http://ismaildenzzz.com/post/@item.SeoLink</a>
                @*<a href="/Home/Blog/@item.SeoLink" class="btn btn-primary">Daha Fazla &rarr;</a>*@
            </div>
        </div>
    }

    <!-- Pagination
    <ul class="pagination justify-content-center mb-4">
        <li class="page-item">
            <a class="page-link" href="#">&larr; Older</a>
        </li>
        <li class="page-item disabled">
            <a class="page-link" href="#">Newer &rarr;</a>
        </li>
    </ul>
        -->
</div>

