<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Easy Admin Panel Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- Bootstrap Core CSS -->
    <link href="../../Content/css/bootstrap.min.css" rel='stylesheet' type='text/css' />
    <!-- Custom CSS -->
    <link href="../../Content/css/style.css" rel='stylesheet' type='text/css' />
    <link href="~/Content/css/chosen.css" rel="stylesheet" />
    <!-- Graph CSS -->
    <link href="../../Content/css/font-awesome.css" rel="stylesheet">
    <!-- jQuery -->
    <!-- lined-icons -->
    <link rel="stylesheet" href="../../Content/css/icon-font.min.css" type='text/css' />
    <!-- //lined-icons -->
    <!-- chart -->
    <script src="../../Content/js/jquery-1.10.2.min.js"></script>
    <script src="../../Content/js/Chart.js"></script>
    <script src="../../Content/js/Global.js"></script>
    <!-- //chart -->
    <!--animate-->
    <link href="../../Content/css/animate.css" rel="stylesheet" type="text/css" media="all">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.0.6/sweetalert2.min.css" rel="stylesheet" type="text/css" media="all">
    <script src="../../Content/js/wow.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.0.6/sweetalert2.min.js"></script>
    <script>
		 new WOW().init();
    </script>
    <!--//end-animate-->
    <!----webfonts--->
    <link href='//fonts.googleapis.com/css?family=Cabin:400,400italic,500,500italic,600,600italic,700,700italic' rel='stylesheet' type='text/css'>
    <!---//webfonts--->
    <!-- Meters graphs -->
  
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
    <script src="~/Content/js/notify.min.js"></script>
    <!-- Placed js at the end of the document so the pages load faster -->
    @RenderSection("scripts",required: false)
</head>

<body class="sticky-header left-side-collapsed" onload="initMap()">

    <section>
        <!-- left side start-->
        <div class="left-side sticky-left-side">

            <!--logo and iconic logo start-->
            <div class="logo">
                <h2><a href="/Home/Index">ismaildenzzz <span>Admin</span></a></h2>
            </div>
            <div class="logo-icon text-center">
                <a href="/Home/Index"><i class="lnr lnr-home"></i> </a>
            </div>

            <!--logo and iconic logo end-->
            @Html.Partial("_LeftMenu")
        </div>
        <!-- left side end-->
        <!-- main content start-->
        <div class="main-content">
            <!-- header-starts -->
            @Html.Partial("_HeaderSection")
            <!-- //header-ends -->
            @RenderBody()
            <!--body wrapper end-->
        </div>
        <!--footer section start-->
        <footer>
            <p>&copy 2015 Easy Admin Panel. All Rights Reserved | Design by <a href="https://w3layouts.com/" target="_blank">w3layouts.</a></p>
        </footer>
        <!--footer section end-->
        <!-- main content end-->
    </section>

    <script src="../../Content/js/jquery.nicescroll.js"></script>
    <script src="../../Content/js/scripts.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="../../Content/js/bootstrap.min.js"></script>
    <script src="~/Content/js/chosen.jquery.js"></script>
    
    <script>
    $('.chosen-select').chosen();
    </script>
</body>
</html>
