<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="title" content="" />
    <meta name="description" content="@ViewBag.SeoDesc">
    <meta name="keywords" content="@ViewBag.SeoKeys" />
    <meta name="author" content="İsmail Deniz">
    <meta name="owner" content="İsmail Deniz" />
    <meta name="copyright" content="(c) 2017" />
    <title>@ViewBag.Title</title>
    <!-- Bootstrap core CSS -->
    <link href="~/ContentUser/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.0.6/sweetalert2.min.css" rel="stylesheet" type="text/css" media="all">
    <!-- Custom styles for this template -->
    <link href="~/ContentUser/css/blog-home.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        .card {
            border-radius: 0 !important;
        }
    </style>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-82401166-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-82401166-1');
    </script>


</head>
<body>
    @Html.Partial("_NavMenuPartialUI")
    <!-- Page Content -->
    <div class="container">
        <div class="row">
            @RenderBody()
            <!-- Sidebar Widgets Column -->
            @Html.Partial("_RightMenuPartialUI")
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
    <!-- Footer -->
    <footer class="py-2 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; ismaildenzzz.com 2017</p>
        </div>
        <!-- /.container -->
    </footer>
    <!-- Bootstrap core JavaScript -->
    <script src="~/ContentUser/vendor/jquery/jquery.min.js"></script>
    <script src="~/ContentUser/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/ContentUser/js/GlobalUI.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.0.6/sweetalert2.min.js"></script>
    <script>
        $(document).ready(function () {
            $("ul.pagination").addClass("justify-content-center mb-4");
            $("ul.pagination li").addClass("page-item");
            $("ul.pagination li a").addClass("page-link");
        });
    </script>
    <script src="~/scripts/tinymce/jquery.tinymce.js"></script>
    <script src="~/scripts/tinymce/tiny_mce.js"></script>
</body>
</html>
