
@{
    int i = 0, j = 0;
}


<div class="col-md-4">
    <!-- Search Widget -->
    <div class="card my-4">
        <h5 class="card-header">Arama</h5>
        <div class="card-body">

            <form method="get" action="/search">
                <div class="input-group">
                    <input type="text" class="form-control" name="q" id="q" placeholder="Arama...">
                    <span class="input-group-btn">
                        <button class="btn btn-secondary" id="srcButton" type="submit">Haydi!</button>
                    </span>
                </div>
            </form>

        </div>
    </div>
    <!-- Categories Widget -->
    <div class="card my-4">
        <h5 class="card-header">Kategoriler</h5>
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <ul class="list-unstyled category">
                        @foreach (var item in ViewBag.Kategoris)
                        {
                            <li class="hasEffect">
                                <i class="fa fa-tags" aria-hidden="true"></i> <a href="/kategori/@item.KategoriLink" class="effect-underline">&nbsp; @item.KategoriAdi (@ViewBag.KategoriPostSayilari[i])</a>
                            </li>
                            i++;
                        }

                    </ul>
                </div>
            </div>

        </div>
    </div>

    <!-- Categories Widget -->
    <div class="card my-4">
        <h5 class="card-header">Etiket Bulutu</h5>
        <div class="card-body">
            <div class="row">
                <div class="col-lg-12">
                    <div class="tags">
                        <ul>
                            @foreach (var item in ViewBag.Etikets)
                            {
                                <li><a href="/etiket/@item.EtiketLink" class="smallest" title="Tag: @item.EtiketAdi">@item.EtiketAdi</a> </li>
                            }
                        </ul>
                    </div>

                    @*<div class="tagcloud03">
                            <ul>
                                @foreach (var item in ViewBag.Etikets)
                                {
                                    <li>
                                        <a href="/etiket/@item.EtiketLink">@item.EtiketAdi<span>@ViewBag.EtiketPostSayilari[j]</span></a>
                                    </li>
                                    j++;
                                }

                            </ul>
                        </div>*@
                </div>
            </div>

        </div>
    </div>






    <!-- Side Widget
    <div class="card my-4">
        <h5 class="card-header">Biz Kimiz?</h5>
        <div class="card-body">
            You can put anything you want inside of these side widgets. They are easy to use, and feature the new Bootstrap 4 card containers!
        </div>
    </div>
        -->
</div>