@model IEnumerable<ismaildenzzz.Data.Model.Blog>
@{
    ViewBag.Title = "İsmail Deniz | "+ ViewBag.Kategori.KategoriAdi;
    ViewBag.SeoKeys = ".Net Core,.Net Framework 4.0,.Net Framework 4.5,.Net Temelleri, Ado.Net,Ado.net 2.0,Ado.Net Data Services,Ado.Net Sync Services,Algoritma,Design Patterns, Asp.Net,Asp.Net 2.0,Asp.Net 4.0,Asp.Net 4.5,Asp.Net Core, Asp.Net Web API,C#,C# 3.0,C# 4.0,C# 6.0,C# 7.0,Web Services,Asmx,SOAP,REST,Data Structures,Veri Yapıları, Algorithms,Eğitimler,Enterprise Library,Entity Framework,LINQ,LINQ to SQL,NoSQL,PostgreSQL,Predix,Predix Development,IOT,Parallel Programming,Threads,Python,T SQL,SQL,MSSQL,MYSQL,Tasarım Kalıpları(Design Patterns),Tasarım Prensipleri(Design Principles),Team Foundation Server,SVN,GIT,BitBucket,Bitcoin,Visual Studio,WCF,WCF 4.0,WCF 4.5,WCF Data Services,WCF Eco System,WCF Öğreniyorum,Asp.NET MVC Eğitimleri,Asp.NET MVC ile Angular JS,Windows Azure,Windows Forms,Windows Services,C#,C# Form Uygulamalari,C# Dersleri,TaskScheduler,WPF,XML,XML Web Services,JSON";
    ViewBag.SeoDesc = "İsmail Deniz - Bilgisayar Mühendisi bir .Net,SharePoint,JavaScript geliştiricisi.JavaScript Frameworkleri ( Angular JS , React JS , Node JS , jQuery )  ve Microsoft Asp.NET / MVC / SharePoint / Core ile alakalı blog yazıları yazmayı seven bir kişilik. | "+ ViewBag.Kategori.KategoriAdi;
    Layout = "~/Views/Shared/_LayoutUI.cshtml";
}
<!-- Blog Entries Column -->
<div class="col-md-8">

    <h1 class="my-4">
        @ViewBag.Kategori.KategoriAdi 
    </h1>


    @foreach (var item in Model)
    {
        <!-- Blog Post -->
        <div class="card mb-4">
            @*<img class="card-img-top" src="@item.Resim" alt="@item.Baslik" height="250">*@
            <div class="card-body">
                <a href="/post/@item.SeoLink" style="color:black;"><h4 class="card-title">@item.Baslik</h4></a>
                <p class="card-text">@item.KisaAciklama</p>
                @*<a href="/Home/Blog/@item.SeoLink" class="btn btn-primary">Daha Fazla &rarr;</a>*@
            </div>
            <div class="card-footer text-muted" style="font-size: 14px;">
                @item.YuklenmeTarihi
                <a href="#">@item.Admin.Adsoyad</a>
            </div>
        </div>
    }
    <!-- Pagination -->
    <ul class="pagination justify-content-center mb-4">
        <li class="page-item">
            <a class="page-link" href="#">&larr; Older</a>
        </li>
        <li class="page-item disabled">
            <a class="page-link" href="#">Newer &rarr;</a>
        </li>
    </ul>

</div>

