@model IEnumerable<ismaildenzzz.Data.Model.Blog>
@{
    ViewBag.Title = "İsmail Deniz | "+ ViewBag.Kategori.KategoriAdi;
    ViewBag.SeoKeys = ".Net Core,.Net Framework, Ado.Net,Algoritma,Design Patterns, Asp.Net,Asp.Net Core, Asp.Net Web API,C#,Web Services,Asmx,SOAP,REST,Data Structures,Veri Yapıları,Entity Framework,Dapper";
    ViewBag.SeoDesc = "İsmail Deniz - "+ ViewBag.Kategori.KategoriAdi+" - Bilgisayar Mühendisi.JavaScript Frameworkleri ve Asp.NET / Asp.NET MVC / Asp.NET Core ile alakalı blog yazıları yazmayı seven birisi.";
    Layout = "~/Views/Shared/_LayoutUI.cshtml";
}
<!-- Blog Entries Column -->
<div class="col-md-8">

    <h1 class="my-4">
        @ViewBag.Kategori.KategoriAdi 
    </h1>


    @foreach (var item in Model)
    {
        <!-- Blog Post -->
        <div class="card mb-4">
            @*<img class="card-img-top" src="@item.Resim" alt="@item.Baslik" height="250">*@
            <div class="card-body">
                <a href="/post/@item.SeoLink" style="color:black;"><h4 class="card-title">@item.Baslik</h4></a>
                <p class="card-text">@item.KisaAciklama</p>
                @*<a href="/Home/Blog/@item.SeoLink" class="btn btn-primary">Daha Fazla &rarr;</a>*@
            </div>
            <div class="card-footer text-muted" style="font-size: 14px;">
                @item.YuklenmeTarihi
                <a href="#">@item.Admin.Adsoyad</a>
            </div>
        </div>
    }
    <!-- Pagination -->
    <ul class="pagination justify-content-center mb-4">
        <li class="page-item">
            <a class="page-link" href="#">&larr; Geri</a>
        </li>
        <li class="page-item disabled">
            <a class="page-link" href="#">İleri &rarr;</a>
        </li>
    </ul>

</div>

