@*@model IEnumerable<ismaildenzzz.Data.Model.Blog>*@

@model PagedList.IPagedList<ismaildenzzz.Data.Model.Blog>
@using PagedList.Mvc;

  

@{
    ViewBag.Title = "Blog";
    Layout = "~/Views/Shared/_LayoutUI.cshtml";
}

<!-- Blog Entries Column -->
<div class="col-md-8">

    <h1 class="my-4">
        Blog Yazılarımız
        <small>{ Make It Possible }</small>
    </h1>


    @foreach (var item in Model)
    {
        <!-- Blog Post -->
        <div class="card mb-4">
            @*<img class="card-img-top" src="@item.Resim" alt="@item.Baslik" height="250">*@
            <div class="card-body">
                <a href="/post/@item.SeoLink" style="color:black;"><h4 class="card-title">@item.Baslik</h4></a>
                <p class="card-text">@item.KisaAciklama</p>
                @*<a href="/Home/Blog/@item.SeoLink" class="btn btn-primary">Daha Fazla &rarr;</a>*@
            </div>
            <div class="card-footer text-muted" style="font-size: 14px;">
                @item.YuklenmeTarihi
                <a href="#">@item.Admin.Adsoyad</a>
            </div>
        </div>
    }
   
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page}))

</div>
