@model PagedList.IPagedList<ismaildenzzz.Data.Model.Blog>
@using PagedList.Mvc;

@{
    ViewBag.Title = "İsmail Deniz";
    ViewBag.SeoKeys = ".Net Core,.Net Framework, Ado.Net,Algoritma,Design Patterns, Asp.Net,Asp.Net Core, Asp.Net Web API,C#,Web Services,Asmx,SOAP,REST,Data Structures,Veri Yapıları,Entity Framework,Dapper";
    ViewBag.SeoDesc = "İsmail Deniz - Bilgisayar Mühendisi.JavaScript,Angular JS ,React JS,Asp.NET,Asp.NET Core,Asp.NET MVC,Ado.NET,Dapper ve Entity Framework ile alakalı blog yazıları yazmayı seven bir yazılımcı.";
    Layout = "~/Views/Shared/_LayoutUI.cshtml";
}
<style>
    div.card a{
        text-decoration:none;
    }
    h4.card-title:hover {
        color: #3498db;
    }
</style>
<!-- Blog Entries Column -->
<div class="col-md-8">

    <h1 class="my-4">
        Blog Yazılarım
    </h1>


    @foreach (var item in Model)
    {
        <!-- Blog Post -->
        <div class="card mb-4">
            @*<img class="card-img-top" src="@item.Resim" alt="@item.Baslik" height="250">*@
            <div class="card-body">
                <a href="/post/@item.SeoLink" style="color:black;"><h4 class="card-title">@item.Baslik</h4></a>
                <p class="card-text">@item.KisaAciklama</p>
                @*<a href="/Home/Blog/@item.SeoLink" class="btn btn-primary">Daha Fazla &rarr;</a>*@
            </div>
            <div class="card-footer text-muted" style="font-size: 14px;">
                Yayinlanma Tarihi : @item.YuklenmeTarihi &nbsp;
                Yazar : <a href="/">@item.Admin.Adsoyad</a>&nbsp;
                Okunma : @item.Hit &nbsp;
                Kategori :<a href="/kategori/@item.Kategori.KategoriLink"> @item.Kategori.KategoriAdi</a>
            </div>
        </div>
    }
   
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page}))

</div>
