@model ismaildenzzz.Admin.Models.YorumViewModel

<!-- Modal -->
<!-- Modal content-->

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h4 class="modal-title">Yorum Detay</h4>
</div>
<div class="modal-body">
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdSoyad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdSoyad)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Mail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Site)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Site)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Onay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Onay)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BlogAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BlogAdi)
        </dd>

    </dl>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Çıkış</button>
</div>