@model ismaildenzzz.Data.Model.Blog
@{
    ViewBag.Title = "İsmail Deniz | " + Html.DisplayFor(x => x.Baslik);
    ViewBag.SeoKeys = Html.DisplayFor(x => x.SeoAnahtarlari);
    ViewBag.SeoDesc = Html.DisplayFor(x => x.SeoAciklama);
    ViewBag.SocialTitle = Html.DisplayFor(x => x.Baslik);
    string kisaAciklama = Html.DisplayFor(x => x.KisaAciklama).ToString().Substring(0, 200);
    ViewBag.SocialDescription = kisaAciklama + "...";
    ViewBag.SocialImage = string.IsNullOrEmpty(Html.DisplayFor(x => x.Resim).ToString()) == true ? "~/Content/Images/ismaildenzzz_social_large.png" : Html.DisplayFor(x => x.Resim).ToString();
    ViewBag.SocialUrl = "http://www.ismaildenzzz.com/post/" + Html.DisplayFor(x => x.SeoLink).ToString();
    ViewBag.SocialType = "article";
    Layout = "~/Views/Shared/_LayoutUI.cshtml";
}
<style>
    .btn-facebook, .btn-github, .btn-google, .btn-linkedin, .btn-twitter {
        color: #fff !important;
    }
</style>
<!-- Post Content Column -->
<div class="col-lg-8">
    <!-- Title -->
    <h3 class="mt-4">@Html.DisplayFor(x => x.Baslik)</h3>
    <!-- Author -->
    <p class="lead">
        by
        <a href="#">@Html.DisplayFor(x => x.Admin.Adsoyad)</a>
    </p>
    <hr>
    <!-- Date/Time -->
    <p>Tarih : @Html.DisplayFor(x => x.YuklenmeTarihi) &nbsp; &nbsp; Okunma : @Html.DisplayFor(x => x.Hit)</p>
    <hr>
    @if (!string.IsNullOrEmpty(Model.Resim))
    {
         <!-- Preview Image -->
        <img class="img-fluid rounded" src="@Html.DisplayFor(x => x.Resim)" alt="" style="max-height:300px !important;">
        <hr>
    }

    <!-- Post Content -->
    <article class="post">
        @Html.Raw(HttpUtility.HtmlDecode(Model.Icerik))
    </article>

    <div class="social-buttons " data-href="@( "http://ismaildenzzz.com/post/" + Html.DisplayFor(x => x.SeoLink))" data-layout="button" data-size="large" data-mobile-iframe="true">
        <a class="btn btn-social-icon btn-facebook" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fismaildenzzz.com%2F&amp;src=sdkpreparse">
            <span class="fa fa-facebook"></span>
        </a>
        <a class="btn btn-social-icon btn-twitter" href="https://twitter.com/share" data-url="@( "http://ismaildenzzz.com/post/" + Html.DisplayFor(x => x.SeoLink))" data-text="@Html.DisplayFor(x => x.KisaAciklama).ToString().Substring(0,140)" data-via="ismaildenzzz.com" data-size="large" data-count="none">
            <span class="fa fa-twitter"></span>
        </a>
        <a class="btn btn-social-icon btn-github" href="https://github.com/ismaildenzzz" target="_blank">
            <span class="fa fa-github"></span>
        </a>
        <a class="btn btn-social-icon btn-google" href="@( "https://plus.google.com/share?url="+ViewBag.SocialUrl )" onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
            <span class="fa fa-google"></span>
        </a>
        <a class="btn btn-social-icon btn-linkedin" href="@( "http://www.linkedin.com/shareArticle?mini=true&url="+ViewBag.SocialUrl+"&title="+ViewBag.SocialTitle+"")  target="_blank">
            <span class="fa fa-linkedin"></span>
        </a>
    </div>
    @if (Model.Etikets != null)
    {
        <div class="card-body" style="padding-left:15px;">
            <div class="row">
                <div class="tags">
                    <ul>
                        @foreach (var item in Model.Etikets)
                        {
                            <li><a href="/etiket/@item.EtiketLink" class="smallest" title="Tag: @item.EtiketAdi">@item.EtiketAdi</a> </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    }

    <hr>
    <!-- Comments Form -->
    <div class="card my-4">
        <h5 class="card-header">Yorum Yaz:</h5>
        <div class="card-body">
            <form>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Ad Soyad" id="YorumAdSoyad" required />
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Mail" id="YorumMail" required />
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Site" id="YorumSite" />
                </div>
                <div class="form-group">
                    <textarea class="form-control" rows="3" id="YorumMesaj" required></textarea>
                </div>
                <button type="button" onclick="YorumEkle()" class="btn btn-primary">Gönder</button>
            </form>
        </div>
    </div>
    @foreach (var item in ViewBag.Yorums)
    {
        <!-- Single Comment -->
        <div class="media mb-4">
            <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
            <div class="media-body">
                <h5 class="mt-0">@item.Adsoyad</h5>
                @item.YorumMesaj
            </div>
        </div>
    }
</div>
