@model ismaildenzzz.Data.Model.Blog
@{
    ViewBag.Title = "İsmail Deniz | "+ Html.DisplayFor(x => x.Baslik);
    ViewBag.SeoKeys = Html.DisplayFor(x => x.SeoAnahtarlari);
    ViewBag.SeoDesc = Html.DisplayFor(x => x.SeoAciklama);
    Layout = "~/Views/Shared/_LayoutUI.cshtml";
}
<!-- Post Content Column -->
<div class="col-lg-8">
    <!-- Title -->
    <h3 class="mt-4">@Html.DisplayFor(x => x.Baslik)</h3>
    <!-- Author -->
    <p class="lead">
        by
        <a href="#">@Html.DisplayFor(x => x.Admin.Adsoyad)</a>
    </p>
    <hr>
    <!-- Date/Time -->
    <p>Tarih : @Html.DisplayFor(x => x.YuklenmeTarihi) &nbsp; &nbsp; Okunma : @Html.DisplayFor(x => x.Hit)</p>
    <hr>
    @if (!string.IsNullOrEmpty(Model.Resim))
    {
         <!-- Preview Image -->
        <img class="img-fluid rounded" src="@Html.DisplayFor(x => x.Resim)" alt="" style="max-height:300px !important;">
        <hr>
    }
    
    <!-- Post Content -->
    <article class="post">
        @Html.Raw(Model.Icerik)
    </article>

    <hr>
    <!-- Comments Form -->
    <div class="card my-4">
        <h5 class="card-header">Yorum Yaz:</h5>
        <div class="card-body">
            <form>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Ad Soyad" id="YorumAdSoyad" required />
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Mail" id="YorumMail" required />
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Site" id="YorumSite" />
                </div>
                <div class="form-group">
                    <textarea class="form-control" rows="3" id="YorumMesaj" required></textarea>
                </div>
                <button type="button" onclick="YorumEkle()" class="btn btn-primary">Gönder</button>
            </form>
        </div>
    </div>
    @foreach (var item in ViewBag.Yorums)
    {
        <!-- Single Comment -->
        <div class="media mb-4">
            <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
            <div class="media-body">
                <h5 class="mt-0">@item.Adsoyad</h5>
                @item.YorumMesaj
            </div>
        </div>
    }
</div>